@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
.about-content {
    text-align: center;
}

.about_content h1 {
    font-family:'Courier New', Courier, monospace;
    font-size: 3rem;
    color: #ffffff;
    text-align: center;
}
.about_content p{
    padding: 2rem 20%; 
    text-align: justify;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    margin-top: -50px;
    color: aliceblue;
}


.gallery .wrapper {
    position: relative;
    flex-grow: 1;
    margin: auto;
    max-width: 1200px;
    max-height: 1200px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 2vmin;
    justify-items: center;
    align-items: center;
}

.gallery .wrapper img {
    z-index: 1;
    grid-column: span 2;
    max-width: 90%;
    margin-bottom: -28%;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    transform: scale(1);
    transition: all .25s;
}

.gallery .wrapper img:nth-child(7n + 1) {
    grid-column: 2 / span 2;
}

.gallery .wrapper img:hover {
    z-index: 2;
    transform: scale(2);
}

@media (max-width: 768px) {
    .gallery .wrapper img:hover {
        transform: scale(2);
    }
}

@media (max-width: 576px) {
    .about-section .about-content img {
        width: inherit;
    }

    .about-section .about-content {
        display: block;
    }

    .about-section .about-content .about-content-text {
        padding-left: 0px;
    }

    .about-section .gallery {
        padding: 50px 0px;
    }

    .gallery .wrapper img {
        max-width: 100%;

    }

    .gallery .wrapper {
        grid-gap: 2vmin;
    }

    .gallery .wrapper img:hover {
        transform: scale(2);
    }

}