.home-main .image .home-img:hover {
    filter: brightness(120%);
    filter: contrast(120%);
    filter: drop-shadow(10px 10px 10px rgb(34, 36, 34));
  }
  
  
  .home-about .image img {
    width: 100%;
  }
  
  .home-main,
  .home-about,
  .home-category {
    padding: 2rem 10%;
  }
  
  .home-main {
    display: flex;
    align-items: center;
    flex-wrap: wrap-reverse;
    gap: 2rem;
    position: relative;
    overflow: hidden;
  }
  
  
  .home-main .content  {
    font-size: 60px;
    text-align: center;
    position: absolute;
    margin-left: 55%;
    margin-top: 20px;
    color: white;
    text-shadow: 1px 1px 2px rgb(188, 31, 7), 0 0 25px rgb(202, 40, 15), 0 0 5px rgb(55, 236, 48);
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  @keyframes color { 
      0% { color: #25d2dc;  } 
      50% { color: rgb(188, 216, 26);  }
      100% { color: #3ed81b;  } 
   } 
  
  .home-main .content span{
    color: rgb(220, 232, 10);
    text-align: right;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 100px;
    -webkit-animation: color 1000ms infinite;
      -moz-animation: color 1000ms infinite; 
      -o-animation: color 1000ms infinite; 
      animation: color 1000ms infinite;
  }
  
  .home-main .image {
    flex: 1 1 20rem;
    margin-top: -5rem;
    text-align: left;
  }
  
  .home-main .image .home-img {
    width: 60%;
    margin-top: 5rem;
  }
  
  
  /* home category */
  .home-category {
    display: grid;
    grid-template-columns: repeat(5, minmax(10rem, 1fr));
    gap: 1.5rem;
    padding-bottom: 1rem;
  }
  
  .home-category .box {
    padding: 2rem;
    text-align: center;
    border-radius: .5rem;
    background: #f7f7f7;
  }
  
  .home-category .box:hover {
    background: #27ae60;
  }
  
  .home-category .box:hover h3 {
    color: #fff;
  }
  
  .home-category .box img {
    width: 100px;
    height: 100px;
  }
  
  .home-category .box h3 {
    font-size: 1rem;
    color: #130f40;
  }
  
  @media (max-width: 576px) {
    .home-main .content h3 {
      font-size: 3rem;
    }
  
  }